@charset "UTF-8";
body, html {
  width: 100%;
  height: 100%;
  font-family: "微软雅黑";
  overflow: hidden;
}

/*
 
 * content_wrap开始
 * */
.content_wrap {
  width: 1920px;
  height: 1080px;
  background: url(../img/bg.png) no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
}
.content_wrap .content_main {
  height: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* Safari */
  -moz-box-sizing: border-box;
  /* Firefox */
  padding: 0 10px;
  position: relative;
}
.content_wrap .content_main .title {
  text-align: center;
  line-height: 58px;
  font-size: 28px;
  color: #fff;
}
.content_wrap .content_main .main_left {
  width: 1265px;
  height: 968px;
  float: left;
}
.content_wrap .content_main .main_left .l_top {
  width: 1265px;
  height: 968px;
  background: url(../img/ticket_bg.png) no-repeat;
  float: left;
  background-size: 100% 100%;
}
.content_wrap .content_main .main_left .l_top #area_tickit {
  width: 100%;
  height: 100%;
  position: relative;
}
.content_wrap .content_main .main_left .l_top #area_tickit .per_village {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: bgsize_change 2s linear infinite;
  background: url(../img/yellow_circle01.png) no-repeat;
  background-size: 100% 100%;
  box-shadow: 0 0 10px yellow;
  cursor: pointer;
}
.content_wrap .content_main .main_left .l_top #area_tickit .wen{
	background: url(../img/yellow_circle01.png) no-repeat;
  background-size: 100% 100%;
  box-shadow: 0 0 10px yellow;
}
.content_wrap .content_main .main_left .l_top #area_tickit .zi{
	background: url(../img/yellow_circle01.png) no-repeat;
  background-size: 100% 100%;
  box-shadow: 0 0 10px yellow;
}
.content_wrap .content_main .main_left .l_top #area_tickit .xiu{
	background: url(../img/yellow_circle01.png) no-repeat;
  background-size: 100% 100%;
  box-shadow: 0 0 10px yellow;
}
.content_wrap .content_main .main_left .l_top #area_tickit .nong{
	background: url(../img/yellow_circle01.png) no-repeat;
  background-size: 100% 100%;
  box-shadow: 0 0 10px yellow;
}
.content_wrap .content_main .main_left .l_top #area_tickit .per_village .detail_wrap {
  display: none;
  width: 256px;
  height: 148px;
  background: rgba(18, 97, 149, 0.7);
  border-radius: 5px;
  color: #fff;
  position: absolute;
  z-index: 100;
  top: -155px;
  left: -90px;
}
.content_wrap .content_main .main_left .l_top #area_tickit .per_village .detail_wrap .village_title {
  font-size: 22px;
  text-align: center;
  line-height: 60px;
}
.content_wrap .content_main .main_left .l_top #area_tickit .per_village .detail_wrap .detail {
	font-size: 20px;
  padding-left: 30px;
}
.content_wrap .content_main .main_left .l_top #area_tickit .per_village .detail_wrap .detail span {
  font-size: 44px;
  width: 140px;
  display: inline-block;
  text-align: center;
}
.content_wrap .content_main .main_left .l_top #area_tickit .per_village:nth-child(1) {
  left: 728px;
  top: 311px;
}
.content_wrap .content_main .main_left .l_top #area_tickit .per_village:nth-child(2) {
  left: 871px;
  top: 215px;
}
.content_wrap .content_main .main_left .l_top #area_tickit .per_village:nth-child(3) {
  left: 902px;
  top: 181px;
}
.content_wrap .content_main .main_left .l_top #area_tickit .per_village:nth-child(4) {
  left: 955px;
  top: 211px;
}
.content_wrap .content_main .main_left .l_top #area_tickit .per_village:nth-child(5) {
  left: 420px;
  top: 635px;
}
.content_wrap .content_main .main_left .l_top #area_tickit .per_village:nth-child(6) {
  left: 296px;
  top: 370px;
}
/* 耕织图村落 */
.content_wrap .content_main .main_left .l_top #area_tickit .per_village:nth-child(7) {
  left: 656px;
  top: 389px;
}
.content_wrap .content_main .main_left .l_top #area_tickit .per_village:nth-child(8) {
  left: 663px;
  top: 414px;
}
.content_wrap .content_main .main_left .l_top #area_tickit .per_village:nth-child(9) {
  left: 673px;
  top: 441px;
}
/* 龙门秘境村落 */
.content_wrap .content_main .main_left .l_top #area_tickit .per_village:nth-child(10) {
  left: 925px;
  top: 183px;
}
.content_wrap .content_main .main_left .l_top #area_tickit .per_village:nth-child(11) {
  left: 925px;
  top: 202px;
}
.content_wrap .content_main .main_left .l_top #area_tickit .per_village:nth-child(12) {
  left: 925px;
  top: 232px;
}
/* 太阳公社村落 */
.content_wrap .content_main .main_left .l_top #area_tickit .per_village:nth-child(13) {
  left: 538px;
  top: 471px;
}
.content_wrap .content_main .main_left .l_top #area_tickit .per_village:nth-child(14) {
  left: 538px;
  top: 502px;
}
.content_wrap .content_main .main_left .l_top #area_tickit .per_village:nth-child(15) {
  left: 538px;
  top: 529px;
}

/*  忠孝文化村落*/
.content_wrap .content_main .main_left .l_top #area_tickit .per_village:nth-child(16) {
  left: 162px;
  top: 578px;
}
.content_wrap .content_main .main_left .l_top #area_tickit .per_village:nth-child(17) {
  left: 187px;
  top: 554px;
}
.content_wrap .content_main .main_right {
  width: 625px;
  height: 968px;
  float: right;
  color: #fff;
}
.content_wrap .content_main .main_right .r_top {
  width: 625px;
  height: 968px;
  background: url(../img/villageCount/625_968.png) no-repeat;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* Safari */
  -moz-box-sizing: border-box;
  /* Firefox */
  padding: 0 16px;
  float: right;
  background-size: 100% 100%;
}
.content_wrap .content_main .main_right .r_top .per_title {
  background: url(../img/title_bg.png) no-repeat 4px center;
  height: 21px;
  font-size: 20px;
  line-height: 21px;
  color: #6be9ff;
  padding-left: 38px;
  margin: 18px 0 10px;
}
.content_wrap .content_main .main_right .r_top #area_rank {
  width: 582px;
  height: 850px;
  background: rgba(34, 38, 46, 0.5);
  margin: 35px auto 0;
  font-size: 16px;
  overflow: auto;
  padding-top:20px;
}
.content_wrap .content_main .main_right .r_top #area_rank .per_rank {
  width: 540px;
  min-height: 33px;
  border: 2px solid #287671;
  margin: 0 auto 20px;
  color: #fff;
  text-align: center;
  padding: 6px;
  line-height: 33px;
}
.content_wrap .content_main .main_right .r_top #area_rank .per_rank .rank_total {
  width: 100%;
  height: 33px;
}
.content_wrap .content_main .main_right .r_top #area_rank .per_rank .rank_num {
  width: 33px;
  height: 33px;
  float: left;
  background: #035f9a;
}
.content_wrap .content_main .main_right .r_top #area_rank .per_rank .city1 {
  text-align: left;
  float: left;
  width: 230px;
  height: 33px;
  margin-left: 10px;
}
/*.content_wrap .content_main .main_right .r_top #area_rank .per_rank .nong {
  background: url(../img/villageCount/nong.png) no-repeat left center;
}
.content_wrap .content_main .main_right .r_top #area_rank .per_rank .wen {
  background: url(../img/villageCount/wen.png) no-repeat left center;
}
.content_wrap .content_main .main_right .r_top #area_rank .per_rank .zi {
  background: url(../img/villageCount/zi.png) no-repeat left center;
}
.content_wrap .content_main .main_right .r_top #area_rank .per_rank .xiu {
  background: url(../img/villageCount/xiu.png) no-repeat left center;
}*/
.content_wrap .content_main .main_right .r_top #area_rank .per_rank .number1 {
  text-align: left;
  color: #ffce4a;
  float: left;
  width: 185px;
  height: 33px;
}
.content_wrap .content_main .main_right .r_top #area_rank .per_rank .open_btn {
  width: 26px;
  height: 26px;
  background: url(../img/citizenTS/bot.png) no-repeat;
  float: right;
  margin: 3px 10px 0 0;
  cursor: pointer;
}
.content_wrap .content_main .main_right .r_top #area_rank .per_rank .detail {
  width: 460px;
  margin: 0 auto;
  display: none;
}
.content_wrap .content_main .main_right .r_top #area_rank .per_rank .detail .per_detail {
  height: 48px;
  line-height: 48px;
}
.content_wrap .content_main .main_right .r_top #area_rank .per_rank .detail .per_detail .city2 {
  text-align: left;
  text-indent: 30px;
  float: left;
  width: 230px;
  height: 33px;
  margin-left: 0px;
}
.content_wrap .content_main .main_right .r_top #area_rank .per_rank .detail .per_detail .number2 {
  text-align: left;
  color: #ffce4a;
  float: left;
  width: 185px;
  height: 33px;
}

@-webkit-keyframes bgsize_change {
  0% {
    width: 24px;
    height: 24px;
  }
  50% {
    width: 36px;
    height: 36px;
  }
  100% {
    width: 24px;
    height: 24px;
  }
}

#area_rank::-webkit-scrollbar {/*滚动条整体样式*/
  width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
#area_rank::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: #535353;
}
#area_rank::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 10px;
  background: #EDEDED;
}
