/*------------------------------------全局定义------------------------------------*/
*{margin: 0px;padding: 0px;}
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,big,cite,code,del,em,font,img,ins,small,strong,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{margin: 0;padding: 0;}
body{background: #fff;color: #000;font: 12px/100%;font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;
}
ul,ol,li{list-style-type: none;}
img,div,form,ul,ol,li,span,p,dl,dt,dd{border: 0 none;vertical-align: middle;}
a{text-decoration: none;color: #333;-webkit-tap-highlight-color:rgba(255,0,0,0); /*清除所有a标签在点击时出现的特效*/}
table,td,input,textarea{font-size: 12px;}
h1,h2,h3,h4,h5,h6{font-size: 12px;font-weight: normal;}

a,img{ -webkit-tap-highlight-color:transparent; }  /*点击的时候 不出现 灰色css移动端实现与pc端一样的:acitve效果*/

input,select,textarea,button{             /*去除微信蓝色边框*/
	vertical-align:middle;
	outline:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

/*//常规尺寸
@media all and (min-width:1200px){
	//大分辨率（PC分辨率、TV）
}

@media all and (min-width:850px) and (max-width:1199px){
	//中等分辨率（PC小分辨率 || pad）
}

@media all and (min-width:700px) and (max-width:849px){
	//pad设备
}

@media all and (min-width:480px) and (max-width:699px){
	//高分辨率手机设备 || 低分辨率平板
}

@media all and (max-width:479px){
	//手机设备
}
*/

/*-------------------------首页-------------------------*/
.index{
	width:100%;
	padding:0 0 2.2rem;
	}
.index_swipe{
	width:14.5rem;
	height:14.5rem;
	overflow:hidden;
	position:relative;
	margin:0 auto 0.3rem;
	}
.index_swipe_co{
	position:absolute;
	left:0px;
	top:0px;
	height:14.5rem;
	}
.index_swipe_co > div {float:left; width:100%; position: relative;}
.index_swipe_co img{
	float:left;
	width:100%;
	}
.index_swipe a,.index_swipe a img{
	width:14.5rem;
	height:14.5rem;
	display: block;
	}
.index img{
	width:13rem;
	height:3.65rem;
	display:block;
	margin:0.05rem auto;
	}
.index ul{
	width:14rem;
	height:2.5rem;
	margin:0 auto 0.9rem;
	}
.index ul li{
	width:2.4rem;
	height:2.4rem;
	border:4px solid #ccc;
	float:left;
	margin:0 0.2rem 0 0;
	}
.index ul li:last-child{
	margin:0;
	}
.index ul li.active{
	border:4px solid #ff0000;
	}
.index ul li img{
	width:100%;
	height:100%;
	display:block;
	margin:0;
	}
.index p:nth-last-child(1){
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	width:100%;
	height:0.75rem;
	line-height:0.75rem;
	text-align:center;
	font-size:0.6rem;
	margin:0 0 0.5rem;
	}
/*-------------------------商品-------------------------*/
.page{
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	}
.wrap{
	width:100%;
	position:absolute;
	left:0px;
	top:0px;
	overflow:auto;
	}
.wrap_header{
	width:100%;
	height:2.5rem;
	background:#87af32;
	position:relative;
	}
.wrap_header ul,.footer_a ul{
	position:absolute;
	right:0.5rem;
	top:2.1rem;
	width:5rem;
	height:4.4rem;
	border:2px solid #ccc;
	background:#f8f8f8;
	z-index:100;
	overflow:hidden;
	display:none;
	}
.wrap_header ul{
	width:4.6rem;
	}
.footer_a ul:nth-of-type(1){
	height:6.6rem;
	left:4rem;
	top:-6.8rem;
	}
.footer_a:nth-of-type(2) ul{
	height:6.6rem;
	right:0.2rem;
	top:-6.8rem;
	left: inherit;
	}
.wrap_header ul li,.footer_a ul li{
	width:100%;
	height:2.2rem;
	}
.wrap_header ul li:nth-of-type(1){
	border-bottom:1px solid #ccc;
	}
.wrap_header ul li a,.footer_a ul li a{
	width:100%;
	font-size:0.7rem;
	height:2.2rem;
	line-height:2.2rem;
	display:block;
	text-align:center;
	}
.wrap_header a,.wrap_header span:nth-of-type(1){
	display:block;
	position: absolute;
	}
.wrap_header a:hover{
	opacity: 0.8;filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity: 0.8;
	}
.wrap_header span:nth-of-type(1){
	width:0.9rem;
	height:0.7rem;
	background:url(../images/wrap_header_jt.gif) no-repeat;
	background-size: 100% 100%;
	left:0.8rem;
	top:0.85rem;
	}
.wrap_header a.wrap_header_jt1{
	width:0.9rem;
	height:0.9rem;
	background:url(../images/wrap_header_jt1.gif) no-repeat;
	right:2.45rem;
	top:0.78rem;
	background-size: 100% 100%;
	}
.wrap_header a.wrap_header_jt2{
	width:0.9rem;
	height:0.86rem;
	background:url(../images/wrap_header_jt2.gif) no-repeat;
	right:0.75rem;
	top:0.825rem;
	background-size:100% 100%;
	}
.wrap_header span{
	display:block;
	font-size:0.9rem;
	line-height:2.5rem;
	text-align:center;
	color:#fff;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:700;
	}
.wrap_co{
	width:100%;
	padding:1rem 0 2.2rem;
	}
.wrap_co dl{
	width:100%;
	height:7rem;
	margin:0 auto 1rem;
	padding:0 0 0.8rem;
	border-bottom:2px solid #ccc;
	}
.wrap_co dl dt{
	width:6rem;
	height:6rem;
	float:left;
	border:2px solid #ccc;
	padding:0.3rem;
	border-radius:7px;
	margin:0 0.65rem;
	}
.wrap_co dl dt a{
	display:block;
	width:100%;
	height:100%;
	}
.wrap_co dl dt:hover{
	border:2px solid #428bca;
	}
.wrap_co dl dt img{
	width:100%;
	height:100%;
	}
.wrap_co dl dd.clah{
	clear:both;
	}
.wrap_co dl dd.bt{
	text-align:justify;
	}
.wrap_co dl dd.bt a:hover{
	display:block;
	color:#86b032;
	}
.wrap_co dl dd.bt,.wrap_co dl dd.gg{
	width:7.5rem;
	float:left;
	color:#555555;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height:110%;
	font-size:0.8rem;
	margin:0 0 0.5rem 0;
	}
.wrap_co dl dd.bt a{
	color:#555;
	font-weight:bold;
	}
.wrap_co dl dd.gg{
	color:#000;
	font-size:0.8rem;
	margin:0 0 0.2rem;
	}
.wrap_co dl dd.gg span{
	color:#ff0000;
	font-family: Arial, Helvetica;
	}
footer{
	width:100%;
	height:2rem;
	background:#f8f8f8;
	position:  fixed;
	left:0px;
	bottom:0px;
	border-top:2px solid #e7e7e7;
	color:#555555;
	font-size:0.6rem;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	}
footer .footer_a{
	float:left;
	width:24%;
	height:1.8rem;
	line-height:1.8rem;
	margin:0.1rem 0 0;
	}
footer .footer_a a.footer{
	width:100%;
	margin:0;
	background:url(../images/footer_a.gif) no-repeat 95% 55%;
	background-size: 13% 16%;
	}
footer a.footer{
	margin:0.1rem 0.1rem 0;
	line-height:1.9rem;
	display:block;
	float:left;
	width:24%;
	height:1.8rem;
	text-align:center;
	}
footer a.footer.active{
	color:#87af32;
	background:url(../images/footer_a1.gif) no-repeat;
	background-size:100% 100%;
	}
.goTop{
	width:2rem;
	height:2rem;
	position:fixed;
	right:0.7rem;
	bottom:2.8rem;
	background-size:contain;
	display: none;
	background:#cccccc;
	border-radius:50%;
	z-index:1000;
	}
.goTop em{
	width:0;
	height:0;
	display:block;
	margin:0.6rem auto 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.7rem solid #000;
	}

/*-------------------------商品详情-------------------------*/
.wrap_header a.wrap_header_jt3{
	width:0.9rem;
	height:0.9rem;
	background:url(../images/shopping_cart.gif) no-repeat;
	right:0.75rem;
	top:0.75rem;
	background-size: 100% 100%;
	}
.buy_now{
	width:100%;
	height:2.45rem;
	background:#e5e5e5;
	position:  fixed;
	left:0px;
	bottom:0px;
	border-top:2px solid #cccccc;
	color:#555555;
	font-size:0.7rem;
	font-family:"Microsoft YaHei";
	}
.buy_now button{
	width:4rem;
	height:1.7rem;
	line-height:1.6rem;
	text-align:center;
	display:block;
	background:#ff0000;
	color:#fff;
	font-family:"Microsoft YaHei";
	border:2px solid #d2691e;
	margin:0.4rem 0.7rem 0 3.45rem;
	border-radius:12px;
	font-size:0.7rem;
	-webkit-border-radius:12px;
	float:left;
	}
.buy_now button:hover{
	opacity: 0.9;filter:alpha(opacity=90);-moz-opacity:0.9;-khtml-opacity: 0.9;
	}
.buy_now button:nth-of-type(2){
	background:#ff8c00;
	border-color:#f4a460;
	width:4.7rem;
	margin-left:0px;
	}
.goods_details_co{
	width:100%;
	padding:0 0 2.5rem;
	}
.goods_details_co1{
	width:100%;
	height:16rem;
	background:#fff;
	border-bottom:2px solid #ccc;
	position:relative;
	}
.goods_details_co1 p{
	width:auto;
	height:1rem;
	position:absolute;
	left:50%;
	margin-left:-3rem;
	bottom:1.5rem;
	z-index:100;
	}
.goods_details_co1 p span{
	display:block;
	width:1rem;
	height:1rem;
	background:#ededed;
	border-radius:50%;
	float:left;
	margin:0 0.45rem 0 0;
	}
.goods_details_co1 p span:hover,.goods_details_co1 p span.active{
	background:#ff0000;
	}
.goods_details_co1_slider{
	width:100%; height:15.9rem; overflow:hidden;
	position:relative;
	}
.goods_details_co1_slider_bj{
	height:15.9rem; 
	overflow:hidden;
	position:relative;
	}
.goods_details_co1_slider_bj > div {float:left; width:100%; position: relative;}
.goods_details_co1_slider_bj img{
	float:left;
	width:100%;
	}
.goods_details_co h2{
	width:14.4rem;
	height:2rem;
	line-height:110%;
	margin:0.6rem auto 0.925rem;
	font-size:0.9rem;
	font-weight:700;
	}
.goods_details_co h3{
	width:14.1rem;
	height:0.9rem;
	line-height:0.9rem;
	margin:0 auto 0.8rem;
	font-size:1.2rem;
	color:#ff0000;
	font-family:arial,Tahoma;
	}
.goods_details_co h3 span{
	font-size:0.8rem;
	vertical-align: text-bottom;
	}
.goods_details_co h4{
	width:100%;
	height:0.9rem;
	line-height:0.9rem;
	padding:0 0 0.5rem;
	text-indent:0.8rem;
	font-size:0.9rem;
	border-bottom:2px solid #cccccc;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#000;
	margin:0 0 0.65rem;
	font-weight:bold;
	}
.goods_details_co h5{
	width:14.4rem;
	height:0.9rem;
	line-height:0.9rem;
	margin:0 auto 0.475rem;
	font-size:0.7rem;
	color:#000;
	}
.goods_details_co h5 span{
	float:left;
	}
.goods_details_co h5 span:nth-of-type(2){
	float:right;
	display:block;
	width:1.65rem;
}
.goods_details_co h5:nth-of-type(2) span:nth-of-type(2){
	text-align:center;
}
.goods_details_co h5:nth-of-type(2){
	margin-bottom:0.7rem;
	}
.goods_details_describe{
	width:100%;
	height:0.75rem;
	line-height:0.75rem;
	padding:0.5rem 0;
	border-top:2px solid #ccc;
	border-bottom:2px solid #ccc;
	margin:0 0 0.75rem;
	}
.goods_details_describe span{
	float:left;
	font-size:0.75rem;
	margin:0 3.2rem 0 0;
	}
.goods_details_describe span:nth-of-type(1){
	text-indent:0.7rem;
	}
.goods_details_describe span:nth-of-type(3){
	margin:0;
	}
.goods_details_describe span em{
	font-style:normal;
	color:#ff0000;
	margin:0 0 0 0.1rem;
	}
.goods_details_co h4:nth-of-type(1){
	font-weight:normal;
	margin-bottom:0.4rem;
	}
.goods_details_co h4:nth-of-type(2),.goods_details_co h4:nth-of-type(3),.goods_details_co h4:nth-of-type(4){
	border:0 none;
	padding:0;
	margin-bottom:0.525rem;
	}
.goods_details_co h4:nth-of-type(3){
	margin-bottom:0.2725rem;
	}
.goods_details_co h4:nth-of-type(4){
	margin-bottom:0.7rem;
	}
.goods_details_qh,.goods_details_add_subtract{
	width:100%;
	height:1.7rem;
	border-bottom:2px solid #ccc;
	padding:0 0 0.5rem;
	margin:0 0 0.6rem;
	}
.goods_details_qh p{
	width:14.6rem;
	height:1.7rem;
	margin:0 auto;
	}
.goods_details_qh p button{
	display:block;
	height:1.6rem;
	border:2px solid #76982f;
	width:5.5rem;
	text-align:center;
	font-size:0.8rem;
	line-height:1.5rem;
	float:left;
	border-radius:0.3rem 0 0 0.3rem;
	background:#fff;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	}
.goods_details_qh p button.active{
	background:#87af32;
	color:#fff;
	}
.goods_details_qh p button:nth-of-type(2){
	border:2px solid #76982f;
	border-radius:0 0.3rem 0.3rem 0;
	margin:0 0 0 -1px;
	}
.goods_details_add_subtract{
	margin-bottom:1.1rem;
	}
.goods_details_add_subtract_co{
	width:14.6rem;
	height:1.3rem;
	margin:0 auto;
	}
.goods_details_add_subtract_co strong,.goods_details_add_subtract_co input{
	display:block;
	width:1.95rem;
	height:1.3rem;
	border:2px solid #cccccc;
	color:#333333;
	font-weight:700;
	font-size:1rem;
	text-align:center;
	line-height:1.3rem;
	float:left;
	}
.goods_details_add_subtract_co strong{
	font-size:1.2rem;
	line-height:1rem;
	width:1.6rem;
	}
.goods_details_add_subtract_co input{
	font-family:arial,Tahoma;
	font-size:0.8rem;
	width:3rem;
	text-indent:-1rem;
	background:url(../images/goods_details_add_subtract_co.gif) repeat-x top center;
	}
.goods_details_add_subtract_co strong:nth-of-type(1){
	border-right:0 none;
	font-size:1.4rem;
	border-radius:5px 0 0 5px;
	}
.goods_details_add_subtract_co strong:nth-of-type(2){
	border-left:0 none;
	border-radius:0 5px 5px 0;
	}
.goods_details_add_subtract_co em{
	font-style:normal;
	font-size:0.7rem;
	float:left;
	display:block;
	margin:0 0 0 1.55rem;
	height:0.8rem;
	line-height:0.8rem;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	}
.goods_details_size{
	width:14.4rem;
	height:1.9rem;
	margin:0 auto 1rem;
	}
.goods_details_size span{
	float:left;
	display:block;
	font-size:0.7rem;
	height:0.75rem;
	line-height:0.75rem;
	margin-bottom:0.25rem;
	}
.goods_details_size span:nth-of-type(2),.goods_details_size span:nth-of-type(4){
	margin-left:1.5rem;
	}
.goods_details_size span:nth-of-type(2){
	margin-left:3.3rem;
	}

/*-------------------------登录-------------------------*/
.login{
	width:100%;
	padding:0 0 2.2rem;
	}
.login img:nth-of-type(1){
	width:13rem;
	height:3.65rem;
	display:block;
	margin:0.05rem auto;
	}
.login h2{
	font-size:.75rem;
	color:#000;
	width:100%;
	height:1rem;
	line-height:1rem;
	text-align:center;
	margin:0.25rem 0 0.8rem;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:700;
	}
.login_co{
	width:13.5rem;
	margin:0 auto;
	overflow:hidden;
	}
.login input{
	width:12.25rem;
	height:1.25rem;
	display:block;
	font-size:0.8rem;
	padding:0.2rem 0.5rem;
	border-radius:0.25rem;
	border:2px solid #ccc;
	outline:none;                     
	background:#fff url(../images/goods_details_add_subtract_co.gif) repeat-x top;
    hide-focus: expression(this.hideFocus=true);
	}
.login_co p:nth-of-type(1) input{
	float:left;
	width:5rem;
	margin:0 0.95rem 0 0;
	}
.login_co p:nth-of-type(1) img{
	float:left;
	width:4.5rem;
	height:1.65rem;
	}
.login p:nth-of-type(1){
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	width:100%;
	height:0.75rem;
	line-height:0.75rem;
	text-align:center;
	font-size:0.6rem;
	}
.login_co p:nth-of-type(1){
	height:1.75rem;
	overflow:hidden;
	margin:0 0 0.75rem;
	}
.login_co p:nth-of-type(2){
	width:8rem;
	height:2.2rem;
	margin:0 auto 1rem;
	overflow:hidden;
	}
.login_co p:nth-of-type(2) button{
	font-size:0.9rem;
	width:3.5rem;
	height:2.2rem;
	background:#87af32;
	color:#fff;
	border-radius:0.4rem;
	overflow:hidden;
	text-transform:none;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	-webkit-writing-mode: horizontal-tb;
	border:0 none;
	float:left;
	border:2px solid #76982f;
	}
.login_co p a{
	margin:0.8rem 0 0 1rem;
	font-size:0.6rem;
	vertical-align:text-bottom;
	font-family:"宋体";
	color:#000;
	float:left;
	display:block;
	height:0.8rem;
	line-height:0.8rem;
	}
.login_co p:nth-of-type(2) button[disabled]{
	/*未勾选选择框取消注册按钮 效果*/
	pointer-events: none;
	cursor: not-allowed;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity:.65;
	}

	
/*-------------------------注册-------------------------*/
.skipRegister{
	margin-top:1rem;
	}
.skipRegister input{
	margin:0 0 0.7rem;
	}
.skipRegister_input{
	width:14rem;
	height:1.8rem;
	position:relative;
	margin:0 0 0.7rem;
	overflow:hidden;
	}
.skipRegister_input span{
	width:1.25rem;
	height:1.25rem;
	display:block;
	position:absolute;
	right:0.7rem;
	top:0.2rem;
	}
.skipRegister_input span.dui{
	background:url(../images/checked.png) no-repeat center;
	background-size:70%;
	}
.skipRegister_input span.cuo{
	background:url(../images/cuo.png) no-repeat center;
	background-size:70%;
	}
.skipRegister p:nth-of-type(2){
	width:9.5rem;
	}
.skipRegister p:nth-of-type(2) a{
	width:auto;
	height:1rem;
	line-height:1rem;
	vertical-align:text-bottom;
	margin-top:0.6rem;
	margin-left:0.6rem;
	}
.skipRegister p:nth-of-type(1) input:nth-of-type(2){
	width:6.3rem;
	margin:0;
	height:1.75rem;
	padding:0.1rem;
	background:#87af32;
	background: -webkit-linear-gradient(#87af32, #87af32); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#87af32, #87af32); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#87af32, #87af32); /* Firefox 3.6 - 15 */
	background: linear-gradient(#87af32, #87af32); /* 标准的语法 */
	color:#fff;
	font-size:0.75rem;
	border:2px solid #76982f;
	}
.skipRegister_checked{
	width:9.7rem;
	height:1rem;
	margin:0.5rem auto 0.8rem;
	}
.skipRegister_checked input{
	float:left;
	width:0.8rem;
	height:0.8rem;
	display:block;
	background:none;
	margin:0.1rem 0.1rem 0.1rem 0;
	color:#000;
	border:0 none;
	background:#000;
	background: -webkit-linear-gradient(#000, #000); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#000, #000); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#000, #000); /* Firefox 3.6 - 15 */
	background: linear-gradient(#000, #000); /* 标准的语法 */
	}
.skipRegister_checked span{
	float:left;
	height:1rem;
	line-height:1rem;
	font-size:0.7rem;
	color:#000;
	display:block;
	width:8.5rem;
	}
.skipRegister_checked span a{
	margin:0 0 0 -0.3rem;
	display: inline-block;
	cursor:pointer;
	}
.modal{
	opacity:1;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	background:rgba(0, 0, 0, 0.7) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/
	filter:Alpha(opacity=80); background:#fff;/*实现IE背景透明*/
	overflow:hidden;
	display:none;
	}
.modal_co{
	margin:0.7rem;
	background:#fff;
	position:relative;
	-moz-border-radius: 0.3rem;
	-webkit-border-radius:0.3rem; 
	border-radius:0.3rem;
	display:block;
	padding:0.3rem 0;
	-moz-box-shadow: 10px 10px 20px #444; /* Firefox */
  	-webkit-box-shadow: 10px 10px 20px #444; /* Safari and Chrome */
 	box-shadow: 10px 10px 20px #444; /* Opera 10.5+, future browsers and IE6+ using IE-CSS3 */
	}
.modal_co h2{
	font-size:0.7rem;
	padding:0.7rem 0 1rem;
	border-bottom:2px solid #e5e5e5;
	text-indent:1rem;
	margin:0 0 0.7rem;
	position:relative;
	font-weight:700;
	}
.modal_co h2 span{
	position:absolute;
	right:1rem;
	top:0.45rem;
	font-size:1rem;
	display:block;
	width: 1.5rem;
	height:1.5rem;
	line-height:1.5rem;
	font-weight:normal;
	color:#aaa;
	}
.modal_co1{
	width:13rem;
	margin:0 auto 1rem;
	padding:0 0.5rem 1rem;
	height:13.5rem;
	overflow:hidden;
	overflow-y:auto;
	}
.modal_co1 p{
	height:auto;
	font-size:0.6rem;
	line-height:170%;
	text-indent:1.2rem;
	margin:0.1rem 0;
	text-align:justify;
	color:#2b2b2b;
	}
.modal_co1 p.t1,.modal_co1 p.t9,.modal_co1 p.t52,.modal_co1 p.t53,.modal_co1 p.t70,.modal_co1 p.t80,.modal_co1 p.t82,.modal_co1 p.t106,.modal_co1 p.t113,.modal_co1 p.t114,.modal_co1 p.t109,.modal_co1 p.t132,.modal_co1 p.t138,.modal_co1 p.t139,.modal_co1 p.t144,.modal_co1 p.t154,.modal_co1 p.t173,.modal_co1 p.t178,.modal_co1 p.t183{
	font-weight:700;
	color:#555;
	margin:0 0 .3rem;
	}
.modal_co1 p.t10{
	text-align:inherit;
	}
.modal_co1 p.t0{
	border:0 none;
	color:#444;
	font-size:0.8rem;
	padding:0;
	text-indent:4.4rem;
	margin:0 0 0.5rem;
	font-weight:700;
	}
.modal_co_bt{
	padding:0.7rem 0 .5rem;
	border-top:2px solid #e5e5e5;
	height:auto;
	}
.modal_co_bt button{
	width:2.9rem;
	height:1.8rem;
	margin:0 auto;
	background:#fff;
	display:block;
	font-size:0.6rem;
	border:2px solid #ccc;
	-moz-border-radius: 0.3rem;
	-webkit-border-radius:0.3rem; 
	border-radius:0.3rem;
	padding:0 0.4rem;
	}
.login_jc_bt button{
	background:#428bca;
	border:2px solid #357ebd;
	color:#fff;
	font-size:0.6rem;
	margin:0 0 0 11.1rem;
	width:2.5rem;
	height:1.6rem;
	font-family:"宋体";
	}
.login_jc_bt p{
	height:0.7rem;
	line-height:0.7rem;
	font-size:0.6rem;
	padding:0 0 0.7rem;
	text-indent:1rem;
	color:#777;
	}
.login input:focus{
    border: 2px solid #63aee8;
	-webkit-box-shadow:0 0 15px rgba(99, 174, 232, .7);  
  	-moz-box-shadow:0 0 15px rgba(99, 174, 232, .7);  
  	box-shadow:0 0 15px rgba(99, 174, 232, .7);  
}
.login_jc_bt h2{
	font-weight:normal;
	}
.warnId{
	width:100%;
	height:2rem;
	padding:0.1rem 0;
	font-size:0.8rem;
	line-height:120%;
	color:red;
	}
.warnId span{
	width:0.8rem;
	height:0.8rem;
	display:inline-block;
	background:url(../images/cuo.png) no-repeat;
	background-size:100%;
	margin-right:0.3rem;
	}
	
/*-------------------------商品品类-------------------------*/
.productcat{
	width:100%;
	display: inline-block;
	padding:0 0 2.2rem;
	}
.productcat ul.nav{
	width:33%;
	height:100%;
	background:#ededed;
	float:left;
	overflow:hidden;
	}
.productcat ul.nav li{
	width:100%;
	height:auto;
	border-top:2px solid #fff;
	border-bottom:2px solid #dbdbdb;
	}
.productcat ul.nav li a{
	line-height:0.9rem;
	color:#555;
	overflow:hidden;
	padding:0.3rem 0.2rem;
	background:0 none;
	text-align:left;
	font-size:0.75rem;
	display:block;
	width:96%;
	}
.productcat ul.nav li a.active{
	color:#fff;
	background:#87af32 url(../images/tab-arrow.png) no-repeat right 45%;
	background-size:12% 60%;
	}
.productcat_list{
	width:67%;
	height:auto;
	float:left;
	overflow:auto;
	overflow-x:hidden;
	}
.productcat_list_co{
	width:95%;
	margin:0.4rem 0.2rem;
	height:auto;
	display: inline-block;
	padding:0 0 1.6rem;
	}
.productcat_list_co div{
	width:100%;
	height:auto;
	clear:both;
	display:inline-block;
	margin:0 0 0.5rem;
	}
.productcat_list_co p{
	width:100%;
	height:1rem;
	line-height:1rem;
	font-size:0.85rem;
	color:#000;
	font-family:"宋体";
	text-indent:0.3rem;
	margin:0 0 0.3rem;
	}
.productcat_list_co a{
	float:left;
	margin:0.15rem;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	}
.productcat_list_co a,.productcat_list_co a img{
	width:4.75rem;
	height:4.75rem;
	display:block;
	}
.productcat_list_co a.sg, .productcat_list_co a.sg img{
	width:100%;
	height:5.35rem;
	}
.productcat_list_co a.sg{
	float:none;
	}
	
/*-------------------------商品搜索-------------------------*/
.search_list{
	width:100%;
	display:none;
	}
.container_search{
	width:100%;
	height:1.7rem;
	padding:.5rem 0;
	background:#ededed;
	border-bottom:4px solid #ccc;
	}
.container_search_co{
	width:93.75%;
	height:1.7rem;
	overflow:hidden;
	margin:0 auto;
	}
.container_search_co p{
	float:left;
	width:1.8rem;
	height:1.5rem;
	border:4px solid #cccccc;
	border-top-left-radius:.25rem;
	border-bottom-left-radius:.25rem;
	}
.container_search_co p span{
	display:block;
	width:0.7rem;
	height:0.7rem;
	margin:.4rem auto 0;
	background:url(../images/container_search_co.gif) no-repeat center center;
	background-size:100% 100%;
	}
.container_search_co input{
	float:left;
	width:9.15rem;
	height:1.5rem;
	border:4px solid #cccccc;
	background:#fff url(../images/goods_details_add_subtract_co.gif) repeat-x top;
	margin:0 -0.029rem 0 -0.079rem;
	padding:0 0.5rem;
	font-size:0.7rem;
	}
.container_search_co_input:focus{
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	}
.container_search_co button{
	width:2.6rem;
	height:1.7rem;
	line-height:.9rem;
	font-size:0.77rem;
	border:0 none;
	border:4px solid #cccccc;
	background:#fff;
	color:#000;
	font-family:"微软雅黑";
	margin-left:0.01rem;
	}
.search{
	padding:0;
	}
.search ul{
	width:100%;
	height:1.6rem;
	border-bottom:2px solid #ccc;
	}
.search ul li{
	height:1.6rem;
	font-size:0.9rem;
	line-height:1.4rem;
	float:left;
	color:#555555;
	font-weight:700;
	margin-right:0.6rem;
	}
.search ul li.active{
	height:1.5rem;
	border-bottom: 4px solid #76982f;
	}
.search ul li:nth-of-type(1){
	margin-left:1rem;
	}
.modal_login{
	z-index:1000;
	}
.modal .login_jc_bt p:nth-of-type(2) button{
	margin:0;
	}
.modal .login_co p:nth-of-type(2){
	margin:0 auto;
	}
.modal .login{
	padding:0;
	}
.modal .login img:nth-of-type(1){
	width:10.2rem;
	height:2.8rem;
	}
.modal .login_co{
	width:11.5rem;
	}
.modal .login input{
	width:10rem;
	}
.modal .login_co p:nth-of-type(1) input{
	width:4rem;
	}
.modal .login_co img:nth-of-type(1){
	width:4.5rem;
	height:1.6rem;
	}