/*------------------------------------全局定义------------------------------------*/
*{margin: 0px;padding: 0px;}
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,big,cite,code,del,em,font,img,ins,small,strong,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{margin: 0;padding: 0;}
body{background: #fff;color: #000;
}
html {
  font-family: 'Heiti SC', 'Microsoft YaHei';
  font-size: 20px;
  outline: 0;
  -webkit-text-size-adjust: none;
}
ul,ol,li{list-style-type: none;}
img,div,form,ul,ol,li,span,p,dl,dt,dd{border: 0 none;vertical-align: middle;}
a{text-decoration: none;color: #333;-webkit-tap-highlight-color:rgba(255,0,0,0); /*清除所有a标签在点击时出现的特效*/}
table,td,input,textarea{font-size: 12px;}
h1,h2,h3,h4,h5,h6{font-size: 12px;font-weight: normal;}
a,img{ -webkit-tap-highlight-color:transparent; }  /*点击的时候 不出现 灰色css移动端实现与pc端一样的:acitve效果*/
input,select,textarea,button{             /*去除微信蓝色边框*/
	vertical-align:middle;
	outline:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
/*-------------------------首页-------------------------*/
.page{position:relative;}
.wrap{width:100%;position:absolute;left:0px;top:0px;overflow:auto;}
.wrap_header{width:100%;height:2.5rem;background:#fff;position: fixed;border-bottom:0.03rem solid #aaa;z-index:10;}
.wrap_header > a:nth-of-type(1){display:block;width:4rem;height:0.95rem;background: url(../images/VRSEEN.png) no-repeat;background-size:contain;margin:0.85rem 0.7rem 0 0.4rem;float:left;font-size:1px;text-indent:-9999px;}
.wrap_header > a:nth-of-type(2){display: block;background:url(../images/menu.png) no-repeat -0.7rem center;width:1.6rem;height:1.5rem;float:right;background-size:contain;margin:0.5rem 0.1rem 0 0;transition:.3s;}
.wrap_header > a:nth-of-type(2).active{background-position:0.82rem center;margin-right:0.7rem;}
.wrap_header p:nth-of-type(1){width:7rem;text-align:center;float:left;font-size:0.7rem;color:#000;font-family:Heiti SC;line-height:2.6rem;}
.main_nav{width:5rem;height:auto;background:#fff;position: absolute;right:-5rem;top:2.5rem;overflow:hidden;overflow-y:auto;z-index:99999;display:none;font-family: "微软雅黑";border:0.04rem solid #ccc;}
.main_nav > a{-webkit-box-shadow:0.02rem 0.02rem 0.05rem #bbb;box-shadow:0.02rem 0.02rem 0.05rem #bbb;}
.main_nav > a,.main_nav_cp span{display:block;width:100%;height:2.8rem;line-height:2.8rem;color:#333;text-align:center;font-size:0.7rem; font-weight: 700;}
.main_nav_cp{width:100%;height:auto;-webkit-box-shadow:0.02rem 0.02rem 0.05rem #bbb;box-shadow:0.02rem 0.02rem 0.05rem #bbb;}
.main_nav_cp p{display:none;padding:-1rem 0 1rem;}
.main_nav_cp p a{display:block;width:100%;height:2rem;line-height:2rem;color:#333;text-align:center;font-size:0.7rem;}
.index{width:100%;padding:2.5rem 0 .5rem;}
.index_swipe{width:100%;height:16rem;overflow:hidden;position:relative;margin:0 0 0.1rem;}
.index_swipe_co{position:absolute;left:0px;top:0px;height:15rem;}
.index_swipe_co > div{float:left; width:100%; position: relative;}
.index_swipe_co img{float:left;width:100%;}
.index_swipe a,.index_swipe a img{width:100%;height:16rem;display: block;}
.index img{width:13rem;height:3.65rem;display:block;margin:0.05rem auto;}
.index ul{width:100%;height:3rem;margin:0 auto 0.6rem;}
.index ul li{width:31%;height:3rem;border:0.12rem solid #ccc;float:left;margin:0 0.2rem 0 0;}
.index ul li:last-child{margin:0;}
.index ul li.active{border:0.1rem solid #6778f1;-moz-box-shadow: 1px 1px 0.12rem #6778f1;-webkit-box-shadow: 1px 0.12rem #6778f1;box-shadow:1px 1px 0.12rem #6778f1;}
.index ul li img{width:100%;height:100%;display:block;margin:0;}
.index p:nth-last-child(1){font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;width:100%;height:0.75rem;line-height:0.75rem;text-align:center;font-size:0.6rem;margin:0 0 0.5rem;}
/*-------------------------新闻-------------------------*/
.news{width:100%;height:auto;margin:2.5rem 0 0;}
.news h1{text-align:center;padding:0.8rem 0 1rem;line-height:1.2rem;font-size:0.8rem;margin:0 0 0.7rem;}
.news_list li{width:92%;margin:0 auto 1rem;}
.news_list li img{width:100%;display: block;margin:0 0 0.5rem; opacity:0;filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;}
.news_list li p:nth-of-type(1){width:100%;height:1rem;line-height:1rem;font-size:0.6rem;color:#000;margin:0 0 0.3rem;}
.news_list li p:nth-of-type(2){width:100%;line-height:0.8rem;font-size:0.6rem;color:#333;margin:0 0 0.5rem;text-align:justify;text-indent:1rem;}
.news_list li p:nth-of-type(3){text-align:right;font-size:0.6rem;height:0.8rem;line-height:0.8rem;background:url(../images/time.png) no-repeat 74% center/contain;}
/*-------------------------开发者-------------------------*/
.developers{width:100%;height:0;margin:2.5rem 0 0;background:url(../images/SDK.png) center top/contain no-repeat;background-size:100% 100%;padding:0 0 160%;}
.developers p.last{padding:20% 0 0;width:94%;font-size:0.8rem;text-align: center;}
.developers_list{width:80%;margin:0 auto;border-bottom:0.05rem solid #959595;}
.developers_list{padding:12% 0;}
.developers_list:nth-child(2){padding:63% 0 0;}
.developers_list:nth-of-type(6){margin-bottom:30%;}
.developers_list:nth-of-type(6) ul li:first-child{list-style:none;text-indent:-0.6rem;}
.developers .developers_list span{display:block;width:100%;text-align:left;margin:0 0 0.3rem;line-height:1rem;font-size:0.6rem;font-family:Helvetica,Heiti SC;}
.developers .developers_list ul{width:98%;margin:0 0.5rem;padding-bottom:8%;}
.developers .developers_list ul li{list-style-type:disc;font-size:0.6rem;color:#26a9e1;line-height:0.7rem;margin-bottom:0.15rem;}
.developers_list span:nth-of-type(2){color:#26a9e1;line-height:0.8rem;}
.developers_list:nth-of-type(1) span:nth-of-type(2){color:#000;line-height:1rem;}
/*-------------------------关于我们-------------------------*/
.about{width:100%;height:auto;margin:2.5rem 0 0;}
.about h1{text-align:center;padding:0.8rem 0 1rem;line-height:1.2rem;font-size:0.8rem;margin:0 0 0.7rem;}
.about dl{width:100%;margin:0 0 0.5rem;overflow:hidden;}
.about dl dt,.about dl dt img{width:100%;display:block;}
.about dl dd{width:88%;margin:0 auto;font-size:0.6rem;padding:0.5rem 1rem;text-align:justify;}
.about dl:nth-of-type(3){position:relative;margin:0;}
.about dl:nth-of-type(3) dd{position:absolute;left:0px;top:35%;z-index:9999;font-size:0.6rem;text-align:center;color:#fff;}
.about dl:nth-of-type(3) dd:nth-of-type(2){top:55%;text-align:justify;}
/*-------------------------线下体验-------------------------*/
.join{width:100%;height:auto;margin:2.5rem 0 0;overflow-x:hidden;}
.join h1{text-align:center;padding:0.8rem 0 1rem;line-height:1.2rem;font-size:0.8rem;margin:0 0 0.7rem;}
.join img:nth-child(2){width:100%;display:block;}
.join_co{width:90%;margin:2rem auto 3rem;border:0.1rem solid #eee;}
.join_co > p{width:100%;height:1.2rem;background:#e5e5e5;line-height:1.2rem;text-indent:0.5rem;font-size:0.75rem;}
.join_co dl{width:90%;margin:0 auto;font-family:"宋体";font-size:0.6rem;}
.join_co dl dt{height:1.5rem;line-height:1.5rem;}
.join_co dl dd{width:100%;display:none;padding:0.1rem;border:0.04rem solid #bbb;}
.join_co dl dd p:nth-of-type(1){font-size:0.75rem;}
.join_co dl dd p{padding:0.05rem 0.6rem;height:1rem;line-height:1rem;}
.join_co dl dd img{width:90%;display:block;margin:0 auto;}
/*-------------------------产品 - 唯镜-------------------------*/
.productweijing{width:100%;height:auto;margin:2.5rem 0 0;overflow-x:hidden;}
.productweijing p{position:relative;}
.productweijing p span{display:block;font-size:0.6rem;color:#fff;position:absolute;left:0px;top:0px;width:100%;text-align:center;}
.productweijing p:nth-of-type(1) span:nth-of-type(1){top:75%;font-size:0.75rem;}
.productweijing p:nth-of-type(1) span:nth-of-type(2){top:85%;}
.productweijing p,.productweijing p img{display:block;width:100%;}
.productweijing p:nth-of-type(2) span:nth-of-type(1),.productweijing p:nth-of-type(3) span:nth-of-type(1){top:20%;font-size:0.75rem;}
.productweijing p:nth-of-type(2) span:nth-of-type(2){top:30%;}
.productweijing p:nth-of-type(3) span:nth-of-type(2){top:42%;left:50%;width:auto !important;text-align:left;}
.productweijing p:nth-of-type(4) span:nth-of-type(1){top: inherit;bottom:20%;color:#000;font-size:0.75rem;}
.productweijing p:nth-of-type(4) span:nth-of-type(2){top: inherit;bottom:7%;color:#000;}
.productweijing p:nth-of-type(5) span:nth-of-type(1){top: inherit;bottom:26%;font-size:0.75rem;}
.productweijing p:nth-of-type(5) span:nth-of-type(2){top: inherit;bottom:6%;}
.productweijing p span:nth-child(2){line-height:1.6;}
.productweijing p:nth-of-type(6) span:nth-of-type(1){top: inherit;bottom:27%;color:#000;font-size:0.75rem;}
.productweijing p:nth-of-type(6) span:nth-of-type(2){bottom:8%;top:inherit;color:#000;}
.join_size,.join_size1{width:94%;background:#e5e5e5;padding:5% 3% 7%;margin:0 auto;}
.join_size h2{width:50%;font-size:0.9rem;border-bottom:0.04rem solid #7d7d7d;line-height:1.5rem;margin:0 0 4%;text-indent:0.2rem;}
.join_size ul{width:100%;}
.join_size ul li{width:100%;font-size:0.6rem;margin:0 0 0.7rem;height:1rem;line-height:1rem;text-indent:0.2rem;}
.join_size ul li:last-child{margin:0;}
.join_size ul li em,.join_size ul li span{float:left;}
.join_size ul li em{width:5rem;font-style:normal;}
.join_size1{display:inline-block;background:#eeeeee;font-size:0.6rem;margin-bottom:-1rem;}
.join_size1_co h2{position:absolute;left:0px;top:0.1rem;font-size:0.6rem;}
.join_size1_co{float:left;margin:0 0 3%;position:relative;}
.join_size1_co:nth-of-type(2){margin:0 0 18%;}
.join_size1_co:nth-of-type(1),.join_size1_co:nth-of-type(3){width:45%;}
.join_size1_co:nth-of-type(2),.join_size1_co:nth-of-type(4){width:55%;}
.join_size1_co:nth-of-type(1) ul,.join_size1_co:nth-of-type(3) ul{margin-left:1.2rem;}
.join_size1_co:nth-of-type(2) ul,.join_size1_co:nth-of-type(4) ul{margin-left:1.5rem;}
.join_size1_co ul{float:left;}
.join_size1_co ul li{line-height:1rem;}
.wrap a.shop{position:fixed;right:3%;bottom:6%;background: url(../images/shop.png) no-repeat;background-size:cover;display:block;width:3rem;height:3rem;-webkit-animation-iteration-count: infinite; animation-iteration-count: infinite;}
/*-------------------------唯镜APP-------------------------*/
.vrseenapp{width:100%;height:auto;margin:2.5rem 0 0;}
.vrseenapp dl{width:100%;overflow:hidden;position:relative;font-size:0.6rem;}
.vrseenapp dl dt,.vrseenapp dl dt img{width:100%;display:block;}
.vrseenapp dl dd{width:88%;margin:0 auto;font-size:0.6rem;padding:0 1rem;text-align: center;position:absolute;left:0;top:0;color:#fff;line-height:1.35;}
.vrseenapp dl dd:nth-of-type(1){font-size:0.75rem;}
.vrseenapp dl:nth-of-type(1) dd:nth-of-type(1){top:73%;}
.vrseenapp dl:nth-of-type(1) dd:nth-of-type(2){top:85%;}
.vrseenapp dl:nth-of-type(1) dd:nth-of-type(3){top:45%;}
.vrseenapp dl:nth-of-type(1) dd:nth-of-type(3) a{background:#fff;padding:0.02rem;color:#3f4db0;}
.vrseenapp dl:nth-of-type(2){margin-bottom:2rem;}
.vrseenapp dl:nth-of-type(2) dd:nth-of-type(1){top:7%;}
.vrseenapp dl:nth-of-type(2) dd:nth-of-type(2){top:20%;}
.vrseenapp dl:nth-of-type(2) dd:nth-of-type(3){top:35%;}
.vrseenapp dl:nth-of-type(3) dd:nth-of-type(1){top:70%;}
.vrseenapp dl dd span,.vrseenmini .join_size h2{background-image:-webkit-gradient(linear, left 0, right 0, from(rgba(88, 10, 131, 1)), to(rgba(255, 63, 209, 1)));-webkit-background-clip: text;-webkit-text-fill-color: transparent;display: inline-block;}
.vrseenmini .join_size h2{font-size:0.75rem;}
.vrseenapp dl:nth-of-type(3) dd:nth-of-type(2){top:79%;color:#fc819d;}
.vrseenapp dl:nth-of-type(4) dd:nth-of-type(1){top:25%;color:#36439f;}
.vrseenapp dl:nth-of-type(4) dd:nth-of-type(2){top:35%;color:#36439f;}
.vrseenapp dl:nth-of-type(5) dd:nth-of-type(1){top:68%;left:7%;text-align:left;}
.vrseenapp dl:nth-of-type(5) dd:nth-of-type(2){top:83%;left:0%;color:#fc819d;text-align:left;}
.vrseenapp dl:nth-of-type(6){margin-bottom:2rem;}
.vrseenapp dl:nth-of-type(6) dd:nth-of-type(1){top:75%;color:#36439f;}
.vrseenapp dl:nth-of-type(6) dd:nth-of-type(2){top:85%;}
/*-------------------------唯镜APP-------------------------*/
.vrseenmini{width:100%;height:auto;margin:2.5rem 0 0;}
.vrseenmini > dl{width:100%;overflow:hidden;position:relative;font-size:0.6rem;}
.vrseenmini .join_co dl{width:90%;}
.vrseenmini > dl dt,.vrseenmini > dl dt img{width:100%;display:block;}
.vrseenmini > dl dd{width:88%;margin:0 auto;font-size:0.6rem;padding:0 1rem;text-align: center;position:absolute;left:0;top:10%;color:#fff;line-height:1.35;}
.vrseenmini > dl:nth-of-type(1){margin:-0.3rem 0 0;}
.vrseenmini > dl:nth-of-type(1) dd{color:#6878f1;top:67%;left:23%;text-align:left;font-size:0.75rem;}
.vrseenmini > dl:nth-of-type(1) dd em{font-style:normal;color:#fc819d;font-size:0.6rem;}
.vrseenmini > dl dd:nth-of-type(1){font-size:0.75rem;}
.vrseenmini > dl dd:nth-of-type(2){color:#fc819d;}
.vrseenmini > dl dd span{background-image:-webkit-gradient(linear, left 0, right 0, from(rgba(88, 10, 131, 1)), to(rgba(248, 63, 209, 1)));-webkit-background-clip: text;-webkit-text-fill-color: transparent;display: inline-block;}
.vrseenmini > dl:nth-of-type(2) dd:nth-of-type(1){top:55%;}
.vrseenmini > dl:nth-of-type(2) dd:nth-of-type(2){top:68%;}
.vrseenmini > dl:nth-of-type(3) dd:nth-of-type(1){top:8%;left:1%;text-align:left;}
.vrseenmini > dl:nth-of-type(3) dd:nth-of-type(2){top:18%;left:-20%;}
.vrseenmini > dl:nth-of-type(4) dd:nth-of-type(1){top:65%;}
.vrseenmini > dl:nth-of-type(5) dd:nth-of-type(1){top:76%;}
.vrseenmini > dl:nth-of-type(5) dd:nth-of-type(2){top:86%;}
.vrseenmini > dl:nth-of-type(6) dd:nth-of-type(1){top:70%;}
.vrseenmini > dl:nth-of-type(6) dd:nth-of-type(2),.vrseenmini > dl:nth-of-type(4) dd:nth-of-type(2){top:80%;}
.vrseenmini dl:nth-of-type(7) dd:nth-of-type(1){top:60%;}
.vrseenmini dl:nth-of-type(7) dd:nth-of-type(2){top:73%;}
/*-------------------------VR直播-------------------------*/
.vr_qj{width:100vmin;height:auto;margin:2.5rem 0 0;}
.vr_qj h2{width:92vmin;font-size:0.9rem;margin:0 auto;font-size:1rem;text-align:center;color:#36439f;padding:1rem 0 0;}
.vr_qj ul{width:92vmin;margin:0 auto;}
.vr_qj ul li:nth-of-type(1){margin-top:1rem;}
.vr_qj ul li{font-family:Heiti SC,Helvetica;margin:0 auto 2rem;padding:0 0 1rem;border-bottom:0.05rem solid #ccc;}
.vr_qj ul li:last-child{border:0 none;}
.vr_qj ul li a{display:block;position:relative;}
.vr_qj ul li a span{display:block;border:0.06rem solid #fff;padding:0.2rem;font-size:0.6rem;color:#fff;position:absolute;right:0.3rem;bottom:0.3rem;border-radius:0.1rem;}
.vr_qj ul li img{width:100%;display:block;margin-bottom:0.8rem;}
.vr_qj ul li p{width:100%;text-align:justify;font-size:0.7rem;line-height:1rem;text-indent:1.2rem;}
.vr_qj ul li img{opacity:0;filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;}
/*-------------------------淘宝购买-------------------------*/
.tb_buy{width:100%;height:auto;margin:2.5rem 0 1rem; background:#f2f2f2; display:inline-block;}
.tb_buy li{width:47%;padding:0.3rem 0.24rem;float:left;height:8.4rem;}
.tb_buy li a,{height:8.4rem;}
.tb_buy li a,.tb_buy li a img{width:100%;height:7.4rem;display:block;}
.tb_buy li p{width:100%;height:1rem;background:#000;color:#fff;font-size:0.6rem;overflow:hidden;position:relative;}
.tb_buy li p span{display:block;float: left;height:1rem;line-height:1.1rem;}
.tb_buy li p span:nth-of-type(1){text-indent:0.2rem;}
.tb_buy li p span:nth-of-type(2){-webkit-transform: skewX(-30deg);-moz-transform: skewX(-30deg);-ms-transform: skewX(-30deg);-o-transform: skewX(-30deg);transform: skewX(-30deg);background:red;color:#fff;padding:0 0.5rem;position:absolute;right:-0.28rem;top:0;}
.tb_buy li p span:nth-of-type(2) em{font-style:normal;-webkit-transform: skewX(30deg);-moz-transform: skewX(30deg);-ms-transform: skewX(30deg);-o-transform: skewX(30deg);transform: skewX(30deg);display:block;height:1rem;line-height:1.1rem;}
/*-------------------------底部-------------------------*/
.footer{width:97%;height:auto;color:#555555;font-size:0.6rem;font-family:Helvetica, Heiti SC;margin:0 auto;}
.footer .footp{height:3rem;}
.footer .footp a{width:auto;height:1rem;line-height:1rem;padding:0 0.6rem;margin:0.2rem .2rem;display:block;float:left;color:#656565;border-right:0.05rem solid #aaa;}
.footer .footp a:nth-of-type(4){border:0 none;}
.footer a.ewm,.footer a.weibo{width:1.3rem;height:1.3rem;background: url(../images/wechat.png) no-repeat;background-size:cover;display:block;float:left;margin:0 0.5rem 1rem;}
.footer a.ewm{margin-left:0.7rem;}
.footer a.weibo{background-image:url(../images/sina.png);}
.footer .footer_div{width:92%;margin:0 auto;text-align:left;color:#000;clear:both;font-size:0.6rem;font-family:Helvetica;}
.footer .footer_div p:nth-of-type(1){height:1rem;margin:0 auto 0.2rem;border-top:0.05rem solid #eee;padding:1rem 0 0;}
.footer .footer_div p:nth-of-type(2){padding:0 0 0.7rem;height:1rem;}
.goTop{width:2rem;height:2rem;position:fixed;right:0.7rem;bottom:2.8rem;background-size:contain;display: none;background:#cccccc;border-radius:50%;z-index:1000;}
.goTop em{width:0;height:0;display:block;margin:0.6rem auto 0; border-left: 0.5rem solid transparent; border-right: 0.5rem solid transparent; border-bottom: 0.7rem solid #000;}
.main_nav_bg{width:100%;height:100%;background:none;position:absolute;z-index:10;left:0px;top:0px;display:none;}
.developers .footer{margin-bottom:5%;}
.developers .footer p{font-size:0.6rem;text-align:left;height:0.7rem;margin-bottom:0.5rem;}
.footer_weixin{width:258px;height:258px;position:fixed;left:50%;top:45%;z-index:1000;margin:-126px;}
.footer_weixin_h{width:100%;height:100%;background:#000;opacity:0.7;filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity:0.7;position:fixed;left:0%;top:0%;z-index:999;}