*{ margin:0; padding:0;}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {-webkit-text-size-adjust:none;} /*阻止旋转屏幕时自动调整字体大小*/
html{ font-size:12px;font-family:Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;overflow: hidden;}
body,html {height: 100%;}
body{ background:url(img/bj.jpg) no-repeat center top; background-size:100% 101%; }
h1,h2,h3,h4,h5,h6{font-size: 12px;font-weight: normal;}
a{ text-decoration:none;}
li{ list-style:none;}
a,button,input,textarea,img{ -webkit-tap-highlight-color:transparent;}
a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}/* 1.去除android a/button/input标签被点击时产生的边框 2.去除ios a标签被点击时产生的半透明灰色背景 */
.main{width: 100%;height: 100%;position: relative;margin: 0 auto;  }
.main_ul{}
.main_ul > li{  width:100%; height:100%; position:absolute; left:0; top:0;  display:none; z-index:5;}
.main_ul > li.zIndex{ z-index:6;}
.main_ul > li:nth-of-type(1){display:block; }
.main_ul > li:nth-of-type(1){ background:url(img/bj.jpg) no-repeat center;background-size:cover;}
.main_ul > li:nth-of-type(2){ background:url(img/bj.jpg) no-repeat center;background-size:cover;}
.main_ul > li:nth-of-type(3){ background:url(img/bj.jpg) no-repeat center;background-size:cover; }
.main_ul > li:nth-of-type(4){ background:url(img/bj.jpg) no-repeat center;background-size:cover; }
.main_ul > li:nth-of-type(5){ background:url(img/bj.jpg) no-repeat center;background-size:cover; }
.main_ul > li:nth-of-type(6),
.main_ul > li:nth-of-type(7),
.main_ul > li:nth-of-type(8){ background:url(img/bj1.jpg) no-repeat center;background-size:cover;  }
.one{ width:100%; height:100%; position: relative; left:50%; top:0px;}
.ont_bt{ width:6.5rem; height:2.7rem; background:url(img/index_bt.png) no-repeat; margin:0.4rem auto 0; background-size:cover;}
.one_tx{ display:none;width:2.4rem; height:2.4rem; border:1px solid #c7ced7; background:#e7e7e7 url(img/photo_img1.png) no-repeat center center; margin:0 auto 6px;border-radius:10px;}
.main_ul > li:nth-of-type(3) .one_tx,.main_ul > li:nth-of-type(4) .one_tx,.main_ul > li:nth-of-type(7) .one_tx{ background-image:url(img/photo_img.jpg); }
.main_ul > li:nth-of-type(4) .one_tmall,
.main_ul > li:nth-of-type(8) .one_tmall{ background-image:url(img/content_mao1.png); height:10.8rem; }
.one_tmall{ width:7.7rem; height:10rem; position: absolute; left:0px; top:50%; background:url(img/content_mao.png) no-repeat;background-size:cover;}
.one_tmall > p:nth-of-type(1){ width:101px; height:34px; background: url(img/content_smoke1.png) no-repeat;background-size:cover; position:absolute; right:-8px; top:17px;}
.one_tmall > p:nth-of-type(2){ width:67px; height:22px; background: url(img/content_smoke.png) no-repeat;background-size:cover; position:absolute; left:55px; top:65px;}
.one_tmall > p:nth-of-type(3){width:101px; height:34px; background: url(img/content_smoke1.png) no-repeat;background-size:cover; position:absolute; right:15px; top:147px;}
.one_tmall > p:nth-of-type(4){width:101px; height:34px; background: url(img/content_smoke1.png) no-repeat;background-size:cover; position:absolute; right:24px; bottom:64px;}
.one_size{ width:100%; margin:0 auto;font-family:"宋体";}
.one_size h2{ color:#00a185; font-size:0.7rem;  text-align:center;}
.one_size p{ margin:0 0 3px; font-size:0.58rem; text-align:justify; text-indent:1rem; color:#4c4c4c; margin:0.05rem 0 0.3rem;}
.one_click,.index_size_3,.index_size_4,.index_size_5{ width:90%; position:absolute; left:5%; bottom:5%; font-family:"微软雅黑";}
.one_click p{ font-size:0.6rem; text-align:center; /*margin:0 0 0.2rem;*/ height:1rem;line-height:1rem;border-bottom:1px dashed #a6a6a6;}
.one_click p:nth-of-type(3){ border:0 none;}
.one_click p.duo{ height:auto; padding:0 0 0.2rem; line-height:0.8rem; }
.one_click p span{ color:#f62d2d; }
.one_click a{ width:3.5rem; height:1.6rem; background:url(img/one_click.png) no-repeat; background-size:cover; display:block; margin-left:auto; margin-right:auto; font-size:0.6rem; text-align:center; color:#fff; line-height:1.35rem;}
.one_r{  width:29px; height:auto; padding:10px 0;text-align:center; color:#fff; font-size:0.6rem; background:#63b4a6; position:absolute; right:-40px; top:0px;border-radius:6px 0 0 6px;}

.index_size{ width:93%; height:auto; position:absolute; left:3%; bottom:4%; z-index:10; overflow:hidden;font-family:"宋体"; padding:0.5%;}
.index_size p {
	width: 96%;
	height: auto;
	font-size: 0.6rem;
	text-align: justify;
	line-height:0.8rem;
	background: rgba(253,236,208,0.5);
	color:#000;
	padding:0 0.3rem 0.07rem;
	text-indent:1rem;
}
.main_ul > li:nth-of-type(5) .one_tx{ display:block;}
.main_ul > li:nth-of-type(8) .index_size p{ background: none; margin:-0.2rem 0.3rem;}
.main_ul > li:nth-of-type(8) .index_size h2{ margin-bottom:0.3rem;}
.main_ul > li:nth-of-type(2) .index_size p:nth-of-type(1){ font-size:0.7rem; text-align:left; text-indent:0rem;}
.index_size_3{ font-size:0.4rem; bottom:13%;}
.index_size_3 p{width:100%;line-height:0.8rem;text-indent:1rem;text-align:justify;font-family:Verdana, Geneva, "宋体";color:#281d1a; font-size:0.6rem;}
.index_size_3 p:first-child{
	margin:0 0 0.2rem;
	}
.main_ul > li:nth-of-type(8) .index_size{bottom:13%;  overflow: inherit;}
.index_size_3 p:nth-of-type(1),.main_ul > li:nth-of-type(8) .index_size h2{
	 text-align: left;
	 text-indent:0;
	 font-size:0.65rem;
	 font-family:"微软雅黑";
	 color:#00a185;
}
.index_size_3 a,.index_size_4 a,.main_ul > li:nth-of-type(8) .index_size a{
	width:100%;height:1.5rem;line-height:1.5rem;font-family:"微软雅黑";font-size:0.6rem;text-align:center;display:block;color:#fff;border-radius:5px;
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#00a185',endColorStr='#008971',gradientType='0');
	background: -moz-linear-gradient(top, #00a185, #008971);
	background: -o-linear-gradient(top,#00a185, #008971);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00a185), to(#008971));
}
.main_ul > li:nth-of-type(8) .index_size a{
	margin-top:0.3rem;
	position:absolute;
	left:0px;
	bottom:-2.5rem;
	}
.index_size_3 a{
	font-size:0.6rem;
	margin:1% 0 0;
	position:absolute;
	left:0;
	bottom:-2.5rem;
	}
.index_size_4{ width:90%;}
.index_size_4 p{
	text-align:center;
	margin:0.2rem auto 0.3rem;
	}
.index_size_4 a:nth-of-type(1){
	width:30%;
	margin:0 auto;
	}
.index_size_4 p:nth-of-type(3) a{
	width:42%;
	margin:0 auto;
	}
.index_size_4 p{color:#00a185;font-size:0.5rem;margin:0.2rem auto 0.3rem; width:auto;}
.index_size_4 img{ width:99%; height:3rem; display:block; padding:0.1rem; border:1px dotted #ccc;}

.index_size_5 img{ width:100%; height:4.5rem; display:block; background-size:cover;}
.main_ul > li:nth-of-type(5) .one_tmall h6{
	position:absolute;left:-49%;top:6%;
	width:6.1rem;
	height:3.3rem;
	background:url(img/one_tmall_h6.png) no-repeat;
	background-size:cover;
	display:none;
}
.main_ul > li:nth-of-type(5) .one_tmall > p:nth-of-type(1),
.main_ul > li:nth-of-type(5) .one_tmall > p:nth-of-type(2),
.main_ul > li:nth-of-type(5) .one_tmall > p:nth-of-type(3){ width:67px; height:22px; background: url(img/content_smoke.png) no-repeat;background-size:cover; position:absolute; left:55px; top:65px;}
.main_ul > li:nth-of-type(5) .one_tmall > p:nth-of-type(1){ top:9%; left: 66%;-webkit-transform:rotate(13deg);-moz-transform:rotate(13deg);transform:rotate(13deg); }
.main_ul > li:nth-of-type(5) .one_tmall > p:nth-of-type(2){top:46%; left: 74%;-webkit-transform:rotate(33deg);-moz-transform:rotate(33deg);transform:rotate(33deg); }
.main_ul > li:nth-of-type(5) .one_tmall > p:nth-of-type(3){top:77%; left: -5%;-webkit-transform:rotate(-14deg);-moz-transform:rotate(-14deg);transform:rotate(-14deg); }
.main_ul > li:nth-of-type(5) .one_tmall > p:nth-of-type(4){ display:none;}
.arr{ 
	width:2.4rem; height:1.4rem; background:url(img/arr.png) no-repeat; position:absolute; left:50%; margin:0 0 0 -1.2rem; bottom:-2%;background-size:cover;
	z-index:9;
	-webkit-animation:1s infinite arrowMove;
	animation:1s infinite arrowMove; 
}
.share{width:90%;display:block;margin:40% auto 2%;}
.share img{width:3rem; height:3rem;display:block; float:left;border-radius:5px;padding:0.05rem; background:#fff;border:1px solid #aaa; margin:0 0 -0.5rem;}
.share p{float:right;width:75%; margin:8% 0 0;font-size:0.6rem; color:#371c01;}
.share a{width:110px;height:26px;line-height:26px;font-family:"微软雅黑";font-size:0.5rem;text-align:center;display:block;padding:-10% 0 0;margin:0 auto;color:#fff;border-radius:3px; clear:both; 
filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#00a185',endColorStr='#008971',gradientType='0');
background: -moz-linear-gradient(top, #00a185, #008971);
background: -o-linear-gradient(top,#00a185, #008971);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00a185), to(#008971));}
/*.share a:hover{opacity:0.8;filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity:0.8; background:#281d1a;}*/
.main_ul > li:nth-of-type(6) .index_size p,.main_ul > li:nth-of-type(6) .index_size h2{ line-height:0.9rem; background:none;}
.main_ul > li:nth-of-type(6) .index_size h2{ padding-bottom:0;}
.main_ul > li:nth-of-type(7) .one_tmall h6{ width:79%; font-size:0.7rem; color:#371c01;position: absolute;left: -46%; top: 28%;-webkit-transform:rotate(-12deg);-moz-transform:rotate(-12deg);transform:rotate(-12deg); font-family:HelveticaNeue,Heiti SC,Helvetica;}
.main_ul > li:nth-of-type(8) .one_tmall h6{ width:65%; font-size:0.7rem; color:#371c01;position: absolute;left: -45%; top: 45%;-webkit-transform:rotate(-22deg);-moz-transform:rotate(-22deg);transform:rotate(-22deg);}
.main_ul > li:nth-of-type(3) .one_tx,.main_ul > li:nth-of-type(4) .one_tx{ display:block;}
.main_ul > li:nth-of-type(3) span,.main_ul > li:nth-of-type(8) span{ font-size:0.9rem; color:#f00; line-height:2rem; text-align:center;width:100%; position:absolute;bottom:-2.5rem; display:block;-webkit-transform-origin:bottom; -webkit-transform:scale(0); transition:0.5s; opacity:0;}
.main_ul > li:nth-of-type(6) .index_size_3{ bottom:7%;}

.one_tmall_halo{
	position:absolute;
	left:50%;
	top:10%;
	width:7.7rem;
	height:10.5rem;
	display:block;
	margin:4.2rem 0 0 -4.5rem;
	background:-webkit-linear-gradient(-15deg,rgba(255,255,255,0) 0,rgba(255,255,255,0) 80px,rgba(255,255,255,0.7) 95px,rgba(255,255,255,0.7) 105px,rgba(255,255,255,0) 120px) no-repeat -200px 0;
	background:-moz-linear-gradient(-15deg,rgba(255,255,255,0) 0,rgba(255,255,255,0) 80px,rgba(255,255,255,0.7) 95px,rgba(255,255,255,0.7) 105px,rgba(255,255,255,0) 120px) no-repeat -200px 0;
	background:-o-linear-gradient(-15deg,rgba(255,255,255,0) 0,rgba(255,255,255,0) 80px,rgba(255,255,255,0.7) 95px,rgba(255,255,255,0.7) 105px,rgba(255,255,255,0) 120px) no-repeat -200px 0;
	background:-linear-gradient(-15deg,rgba(255,255,255,0) 0,rgba(255,255,255,0) 80px,rgba(255,255,255,0.7) 95px,rgba(255,255,255,0.7) 105px,rgba(255,255,255,0) 120px) no-repeat -200px 0;
	transition:1s;
	-webkit-linear-transition:1s;
	-moz-linear-transition:1s;
	-o-linear--transition:1s;
	}
.one_tmall_halo_hover{background-position:300px 0;}

.anifast {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.h1 {
	margin-top:0.1rem;
}
.h2 {
	margin-top:0.2rem;
}
.h3 {
	margin-top:0.3rem;
}
.h4 {
	margin-top:0.5rem;
}
.anifast {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
@keyframes arrowMove{
	0%{ opacity:0; transform:translate(0,0);}
	50%{ opacity:1; -webkit-transform:translate(0,-48px);}
	100%{ opacity:0; -webkit-transform:translate(0,-60px);}
}
@-webkit-keyframes arrowMove{
	0%{ opacity:0; -webkit-transform:translate(0,0);}
	50%{ opacity:1; -webkit-transform:translate(0,-48px);}
	100%{ opacity:0; -webkit-transform:translate(0,-60px);}
}

@keyframes flipInX {
	0% {
	-webkit-transform: perspective(400px) rotate3d(1,0,0,90deg);
	-ms-transform: perspective(400px) rotate3d(1,0,0,90deg);
	transform: perspective(400px) rotate3d(1,0,0,90deg);
	-webkit-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
	opacity: 0
}
40% {
	-webkit-transform: perspective(400px) rotate3d(1,0,0,-20deg);
	-ms-transform: perspective(400px) rotate3d(1,0,0,-20deg);
	transform: perspective(400px) rotate3d(1,0,0,-20deg);
	-webkit-transition-timing-function: ease-in;
	transition-timing-function: ease-in
}
60% {
	-webkit-transform: perspective(400px) rotate3d(1,0,0,10deg);
	-ms-transform: perspective(400px) rotate3d(1,0,0,10deg);
	transform: perspective(400px) rotate3d(1,0,0,10deg);
	opacity: 1
}
80% {
	-webkit-transform: perspective(400px) rotate3d(1,0,0,-5deg);
	-ms-transform: perspective(400px) rotate3d(1,0,0,-5deg);
	transform: perspective(400px) rotate3d(1,0,0,-5deg)
}
100% {
	-webkit-transform: perspective(400px);
	-ms-transform: perspective(400px);
	transform: perspective(400px)
}
}
@-webkit-keyframes rollIn {
	0% {
	opacity: 0;
	-webkit-transform: translate3d(-100%,0,0) rotate3d(0,0,1,-120deg);
	transform: translate3d(-100%,0,0) rotate3d(0,0,1,-120deg)
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}
@keyframes rollIn {
	0% {
	opacity: 0;
	-webkit-transform: translate3d(-100%,0,0) rotate3d(0,0,1,-120deg);
	transform: translate3d(-100%,0,0) rotate3d(0,0,1,-120deg)
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}
@keyframes bounceInRight {
	0%,100%,60%,75%,90% {
	-webkit-transition-timing-function: cubic-bezier(0.215,.61,.355,1);
	transition-timing-function: cubic-bezier(0.215,.61,.355,1)
}
0% {
	opacity: 0;
	-webkit-transform: translate3d(3000px,0,0);
	-ms-transform: translate3d(3000px,0,0);
	transform: translate3d(3000px,0,0)
}
60% {
	opacity: 1;
	-webkit-transform: translate3d(-25px,0,0);
	-ms-transform: translate3d(-25px,0,0);
	transform: translate3d(-25px,0,0)
}
75% {
	-webkit-transform: translate3d(10px,0,0);
	-ms-transform: translate3d(10px,0,0);
	transform: translate3d(10px,0,0)
}
90% {
	-webkit-transform: translate3d(-5px,0,0);
	-ms-transform: translate3d(-5px,0,0);
	transform: translate3d(-5px,0,0)
}
100% {
	-webkit-transform: none;
	-ms-transform: none;
	transform: none
}
.yain{
	-webkit-animation:yx 3s 1s infinite alternate linear;
	animation:yx 3s 1s infinite alternate linear;
	display:none;
	}
@-webkit-keyframes yx{
    0%{-webkit-transform:rotateY(0deg);transform:rotateY(0deg); }
    100%{-webkit-transform:rotateY(360deg);transform:rotateY(360deg);}
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
@keyframes musicMove{
	0%{ transform:rotate(0);}
	100%{ transform:rotate(360deg);}
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

