.content_wrap .content_main .bar_bot {
    position: absolute;
    height: 18px;
    right: 744px;
    bottom: 18px;
}
.content_wrap .content_main .bar_bot ul {
    width: 424px;
    height: 18px;
}
.content_wrap .content_main .bar_bot ul li {
    margin-right: 10px;
    float: left;
}
.content_wrap .content_main .bar_bot ul li a {
    display: block;
    width: 60px;
    height: 18px;
    background: #525660;
    border-radius: 5px;
    position: relative;
}
.content_wrap .content_main .bar_bot ul li a span {
    display: none;
    width: 180px;
    height: 28px;
    background: rgba(55, 81, 122, 0.9);
    border: 1px solid #116d72;
    font-size: 16px;
    line-height: 28px;
    color: #62d0e8;
    text-align: center;
    position: absolute;
    top: -32px;
    left: -58px;
}
.content_wrap .content_main .bar_bot ul li .active {
    background: #6bd1e5;
}